<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>


    <!--Main Content-->
    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="title">
          <h2>About Me</h2>
        </div>

        <div class="row">
          <div class="col" data-aos="fade-left">
            <img src="/Assets/images/MyImage.jpg" class="img-fluid myPhoto" alt="">
            
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Senior Software Test Engineer</h3>
            <div class="row">
            <div class="col-lg-6">
            <ul>
            <h4>Full Name:Naga Amani Ommi</h4>
            </ul>
            </div>
             <p>
                Software Testing Professional offering over 6 years of rich experience
                in IT industry.I completed graduation in 2014 and been working in IT since then.My Overall experience
                in IT is 5 years 8 months.Attached my resume to check more about me
                
              </p>
              <div class="text-center ">
                <a href="Assets/Docs/Amani_testing.pdf"><button type="button"
                    class="btn resume">Resume</button></a>
              </div>

              
            </div>
            </div>

          </div>

        </div>
        </div>
      </div>
    </section>



<%-include partials/footer_nav.ejs%>
<%-include partials/footer.ejs%>