

  <%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  </section>
<section id="home" class="d-flex flex-column justify-content-center align-items-center">
 <div class="home-container" >
    <div class="msg">
     <p>Welcome to my Personal Portfolio Website<br>
       I am currently student at centennial college,doing my PG in Artificial Intelligence<br>
       Ex-Software Testing Professional offered over 5 years of rich experience in IT industry<br>
       Worked for companies like Accenture,Infosys and Value Momentum<br>
       ISTQB Certified tester and AWS developer
     </p>
   </div>
   
   <div class="home-btn"> 
     <a href="/about" class="about-me-btn"><span class="btntxt">About Me</span></a>

   </div>
 </div>
</section><!-- End Hero -->


<%-include partials/footer_nav.ejs%>
<%-include partials/footer.ejs%>
 
    
