<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <section id="project" class="project">

      <div class="container">
        <div class="section">
          <h2>Projects</h2>

          <div class="project-row">
            <img class="img1" src="/Assets/images/presto.jfif" alt="code-img">
            <h3>Role : Associate Test Engineer</h3>
            <p>My first testing project,i worked on reporting module of application</p>

          </div>
          <div class="project-row">
            <img class="img2" src="/Assets/images/BOA.jfif" alt="chillies-img">

            <h3>Role : Test Engineer</h3>
            <p>Worked on Automation using Selenium and Cucumber</p>

          </div>
          <div class="project-row">
            <img class="img1" src="/Assets/images/Cigna.png" alt="code-img">

            <h3>Role : Senior Test Engineer</h3>
            <p>Worked as Mainframe tester and lead team of 6 members</p>

          </div>
        </div>

      </div>

<%-include partials/footer_nav.ejs%>
<%-include partials/footer.ejs%>