<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Content-->

    <body>
      <section id="services" class="services d-flex flex-column align-items-center justify-content-center">
        <div class="container">

          <div class="title">
            <h2>Services</h2>
          </div>

          <div>
            Software Testing Professional offering over 4 years of rich experience
            in IT industry
            Showcased knowledge and understanding of software testing methodology and
            best practices while maintaining and enforcing quality standards
            Hands-on experience in Agile, Waterfall, V-Model Methodologies
            Experience in Manual and Automation Testing with Functional, Regression
            Testing for Web Applications
            Exposure of working on projects of various lengths & complexity; achieved
            proficiency in exhaustive manual testing; consistently delivered high quality of
            work
            Expertise in creating the test scenario matrices for ensuring complete and an
            exhaustive test coverage
            Excellence in providing information related to software bugs & defects by
            collecting, analyzing, summarizing development & service issues
            Formulated software testing plans covering resource requirements, schedule
            assumptions, and scope based on inputs from Development, Sales, and
            System Test Management which included coordinating test plans across
            multiple test organizations and facilities

          </div>
          <div class="row">
            <div class="col-lg-4" data-aos="fade-left">
              <img src="/Assets/images/AWS.png" class="img" alt="">

            </div>
            <div class="row">
              <div class="col-lg-4" data-aos="fade-left">

                <img src="/Assets/images/ISTQB.png" class="img" alt="">


              </div>
              <div class="row">
                                </nav>
      </section>

      <%-include partials/footer_nav.ejs%>
        <%-include partials/footer.ejs%>
    </body>